/* Ini CSS */

.center{
    text-align: center
}

main{
    display: flex;
}

form {
    padding: 12px;
background-color:#ebe4ff;
}

aside{
    padding: 48px;
}

.font button{
    margin-top: 24px;
    margin-bottom: 24px;
}

.button {
    height: 32px;
    border-radius: 3px;
    border-color: #673de6;
}

.submite{
    background-color: #673de6;
    
}

.reset{
    background-color: #ebe4ff;
    
}

input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
  }

  footer{
    text-align: center;
  }

